<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-name></app-name>
      <input type="text" class="form-control" [(ngModel)]="newInfo">

      <button class="btn btn-primary" [disabled]="!allowNew" (click)="onAddInfo()"> Add Info </button>
      <p>{{result}}</p>
      <hr>

      <input type="text" [(ngModel)]="username" class="form-control">
      <p>{{username}}</p>
      <button class="btn btn-danger" [disabled]="username===''" (click)="onUserName()">Delete</button>

    </div>
  </div>
</div>
